@import url("https://use.typekit.net/ain7gpv.css");
@import url("https://use.typekit.net/uhn1mdi.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #222222;
  --white: #f9f6ec;
  --creme: #F1E7D0;
  --orange-light: #E3974C;
  --orange-dark: #D06632;
  --green-light: #5F8548;
  --green-dark: #355B28;
  --blue-light: #748CBE;
  --blue-dark: #4D6AAA;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
}

html {
  scroll-behavior: smooth;
  font-family: "calluna", sans-serif;
  background-color: var(--creme);
  color: var(--green-dark);
}

h1, h2, h3 {
  font-family: "nave", sans-serif;
  font-weight: 700;
  line-height: 1em;
}

h2 {
  font-size: 3.5rem;
}

p {
  font-size: 1rem;
  text-align: justify;
}

body {
  width: 100%;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 90%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
